<div class="posts-des">
  <div id="question"></div>
  <% if (incQn){ %>
  	<h4> Answer: </h4>
  <% } %>
	<h5> Answered by: <a href=<%="#users/"+ answer._author.id %> > <%= answer._author.get("name") %> </a> </h5>
  	<h6> <%= "Created at: " + new Date(answer.escape("created_at")).toLocaleString()  %> </h6>
  	<% if (isEditing){ %>
  		<form id="ans-update">
			<p> <input type="text" class="form-control" name="answer[main_answer]" value="<%= answer.escape("main_answer") %>"> </p>
			<button type="submit" class="btn btn-info btn-xs" > Update </button>
  		</form>
  	<% }else{ %>
		<p> <%= answer.escape("main_answer") %></p>
		<% if (Quora.currentUser.id == answer._author.id){ %>
			<button class="btn btn-info btn-xs" id="ans-edit"> Edit </button>
			<button class="btn btn-danger btn-xs" id="ans-delete"> Delete </button>
		<% } %>
	<% } %>
  <div class="upvote-btn"> </div>
</div>

