<% if (onlyName){ %>
	<h5>Author: <a href=<%= "#users/" + user.id %> ><%= user.attributes.name %> </a> </h5>
<% } else { %>
	<ul style="padding-right:4%">
	  <h4><a href=<%= "#users/" + user.id %> ><%= user.escape("name") %> </a> </h4>
	  <div class="following-btn"></div>


		<% if (user.attributes.location){ %>

					<h6>
			    		Location: <%= user.escape("location") %>
		  		</h6>

		<% } %>
	</ul>
<% } %>
