<ul>
  <h4><a href=<%= "#users/" + user.id %> ><%= user.escape("name") %> </a> </h4>
  <div class="following-btn"></div>
	<% if (user.attributes.employment){ %>

				<h6>
		    		Employment: <%= user.escape("employment") %>
	  		</h6>

	<% } %>

	<% if (user.attributes.location){ %>

				<h6>
		    		Location: <%= user.escape("location") %>
	  		</h6>

	<% } %>

	<% if (user.attributes.education){ %>

				<h6>
		    		Education: <%= user.escape("education") %>
	  		</h6>

	<% } %>
</ul>
