<div class="qns-des">
	<% if (incAns){ %>
		<% if (!isEditing){ %>
			<h2> Question: <%= question.escape("main_question") %></h2>
			<button class="btn btn-info btn-xs" id="qn-edit"> Edit </button>
		<% } else { %>
		<form id="qn-update">
			<h2> Question: <input type="text" id="qn_text" class="form-control" name="question[main_question]" value="<%= question.escape("main_question") %>"> </h2>
			<button type="submit" class="btn btn-info btn-xs" > Update </button>
		<% } %>
	<% } else { %>
		<h4> Question: <a href=<%= "#questions/" + question.id%> >  <%= question.escape("main_question") %> </a></h4>
	<% } %>

	<h6> <%= "Created at: " + new Date(question.escape("created_at")).toLocaleString()  %> </h6>

	<% if (incAns){ %>
		<% if (isEditing){ %>
		    <h4> Description: <textarea class="form-control" id="qn_descr"  name="question[description]"> <%= question.get("description") %></textarea> </h4>
		    </form>
		<% } else { %> 
			<h4> Description: <%= question.get("description") %> </h4>
		<% } %>
		<h4 class="add_same_line"> Topics: &nbsp </h4><div id="topics" class="add_same_line"> </div>

	<% } %>

	<div class="qn-upvote-btn"> </div>

	<div class="following-btn"> </div>

	<h4 id="qn-author"></h4>
</div>

<% if (incAns){ %>

	<h3> Answers: </h3><div id="answers" ></div>

	<div id="answer-new"> </div>
<% } %>




